@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background: rgb(233, 233, 233);
}

.wrapper .header {
    padding: 2px;
    width: 100%;
    height: 90px;
    background: #343330;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
}


.cards_wrap {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(20, 9, 9, 0);
}

.cards_wrap .card_item {
    padding: 15px 25px;
    width: 25%;
}

.cards_wrap .card_inner {
    /*background: rgb(255, 255, 255);*/
    border-radius: 5px;
    padding: 35px 20px;
    min-width: 225px;
    min-height: 005px;
    max-height: 350px;
    width: 100%;
    /*For GlassMorphss*/
    background: rgba(163, 162, 162, 0.147);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    /*******************/
    transition: all 0.5s;
}

.card_inner:hover {
    -webkit-box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
    -moz-box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
    box-shadow: 10px 13px 10px -11.5px rgba(255, 159, 16, 0.6);
}

.prn:hover {
    transition: all 0.5s;
    box-shadow: 12px 13px 15px -13px rgb(191, 215, 11);
}

.cards_wrap .subTitle {
    background-color: rgba(87, 85, 85, 0.073);
    color: rgb(16, 124, 34);
    margin-bottom: 30px;
    width: 100%;
    border-radius: 0;
    padding: 5px;
    border: 2px solid;
    border-color: transparent rgb(94, 43, 3);
}


.cards_wrap .card_item img {
    width: 80px;
    background-color: #ef9917;
    border-radius: 100%;
    height: 80px;
    display: flex;
    margin-top: -55px;
    margin-left: 30%;
}

.cards_wrap .card_item .role_name {
    color: #ef9917;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 19px;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name {
    color: #8d91a1fe;
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0 10px;
}

.cards_wrap .card_item .film {
    font-size: 14px;
    line-height: 24px;
    color: #222528;
}



@media screen and (max-width: 1010px) {
    .cards_wrap .card_item {
        width: 33%;
    }
}

@media screen and (max-width: 768px) {
    .cards_wrap .card_item {
        width: 50%;
    }

    .wrapper .header {
        font-size: 16px;
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .cards_wrap .card_item {
        width: 100%;
    }

    .wrapper .header {
        font-size: 14px;
    }
}